*{
    padding: 0;
    margin: 0;
}
/*顶部格式*/
.header{
    width: 100%;
    height: 100px;
}
/*左侧logo及网址*/
.header .logo{
    margin-top: 25px;
    margin-left: 190px;

}
.header img{
    width: 50px;
    vertical-align: middle;
}
.logo a{
    line-height: 50px;
    vertical-align: middle;
}
/*中间列表*/
.header .list{
    float: left;
    text-align: center;
}