body{
    padding-top: 100px;
}
.baba {
    width: 600px;
    height: 600px;
    position: relative;
    background-color: aqua;
}
.erzi{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
}